<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<img src="fondo.jpeg" width="200">

    <br><br><br>

    <h1 style="color:white; font-size:55px;">
        Bienvenido Doctor {{ usuario }}
    </h1>

    <br><br>

    <a href="/pacientes">
        <button style="
            width:320px;
            height:65px;
            font-size:22px;
            background:#2563eb;
            color:white;
            border:none;
            border-radius:10px;
            cursor:pointer;
        ">
            Registrar Pacientes
        </button>
    </a>

    <br><br>

    <a href="/logout">
        <button style="
            width:320px;
            height:65px;
            font-size:22px;
            background:#dc2626;
            color:white;
            border:none;
            border-radius:10px;
            cursor:pointer;
        ">
            Cerrar Sesión
        </button>
    </a>

</center>

</body>
</html>